.title {
    color: #0f3460;
    font-size: 28;
}

.greeting {
    color: #e94560;
    font-size: 20;
}

.display__flex{
    color: #FFFFFF;
    display: flex;
    border: 1px solid #000000;
    border-radius: 8;
    background: #1a1a2e;
    width: 100%;
}